<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.vn.ms/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.vn.ms.view.user/UserListView.title"/>
        
        <!-- Dynamic Metadata Section -->
        <item view="DynamicMetadataPreviewView"
              title="msg://com.vn.ms.view.dynamicmetadatapreview/dynamicMetadataPreviewView.title"/>
    </menu>

</menu-config>